{% extends "studapp/base.html" %}
{% load studapp %}

{% block content %}
{% for entry in entries %}
<p>
    <span>{{ "Добавлено | Изменено | Удалено"|getel:entry.action_flag }}</span>
    <span>{{ entry.action_time }}</span>
    <span>{{ entry.commiter }}</span>
    </br><span>{{ entry.object_repr }}</span>
    {% if entry.data %}
    <p>
        {% for item in entry.data %}
        <span>{{ item.field }}</span><span>: </span>
        {% if entry.action.addition %}
        <span>{{ item.value }}</span>
        {% else %}
        <span>{{ item.old }}</span><span> -> </span><span>{{ item.new }}</span>
        {% endif %}
        </br>
        {% endfor %}
    </p>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
</p>
{% endfor %}
{% endblock content %}
